@font-face {
	font-family: 'Inter ExtraLight';
	src: url(https://rngagi.github.io/toolbox/vp/assets/webfonts/Inter-ExtraLight.ttf);
}
.input, .output{resize:none; width:100%; height:200px; font-family: 'Inter ExtraLight', Arial, sans-serif; font-weight:100;}
.sample{color:white; text-decoration:underline;}
.lv1{background-color: green;}
.lv2{background-color: goldenrod;}
.lv3{background-color: coral;}
.lv4{background-color: orchid;}