@font-face {
	font-family: 'Inter-extralight';
	src: url(https://rngagi.github.io/toolbox/vp/assets/webfonts/Inter-ExtraLight.woff2);
}
.input{resize:none; width:100%; height:200px; font-family: 'Inter-extralight', Arial, sans-serif; font-weight:100;}
.output{width:100%; height:-webkit-fit-content; font-family: 'Inter-extralight', Arial, sans-serif; font-weight:100;}
.sample{color:white; text-decoration:underline; font-family: 'Inter-extralight', Arial, sans-serif; font-weight:100;}
table{font-family: 'Inter-extralight'}
.lv1{background-color: green;}
.lv2{background-color: goldenrod;}
.lv3{background-color: coral;}
.lv4{background-color: orchid;}
.lex, .lv{width:15%;}
