#input{height:200px; width:500px;}
#output{height:200px; width:500px;}
.sample1{color:white; text-decoration:underline;}
.sample2{color:white; text-decoration:underline;}
.sample3{color:white; text-decoration:underline;}
.sample4{color:white; text-decoration:underline;}
.lv1{background-color: green;}
.lv2{background-color: gold;}
.lv3{background-color: coral;}
.lv4{background-color: orchid;}
